*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board{
  height: 70vh;
  width: 50vw;
  border: 3px solid black;
 
}

.value{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.value img{
  height: 70%;
  width: 30%;
  border: 1px solid black;
 
}

.key{
  background-color: darkseagreen;
  color: darkblue;
  text-align: center;
}

.right-wrong{
  display: flex;
  justify-content: space-between;
}

.buttons{
  display: flex;
  justify-content: space-around;
}
